html,body {
  height:100%;
  font-family: inherit;
}

.page {
  height: 70%;
  display: block;
  text-align: center;
  margin: 30px 30px;
  padding: 5%;
  background-color: whitesmoke;
  opacity: 0.1;
  transition: all 1000ms ease-in;
}

.text-show {
  opacity: 1 !important;
}

.text-hide {
  opacity: 0.05;
  transition: all 500ms ease-in;
}

/* layout */
.div-inline {
  display: inline-block;
  text-align: left;
  float: left;
}

.left-space {
  margin-left: 100px;
}

/* page 1 */
#page-1-title {
  height: 50%;
  display: block;
  text-align: left;
}

#page-1-title  h1 {
  font-size: 120px;
  margin-bottom: 30px;
}

#page-1-title  h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

